<div class="aboutMe">
  <!-- <div class="theme">关于我</div> -->
  <div class="content">

    <div class="row">
      <p class="item">名字: 范骏</p>
      <p class="item">性别: 男</p>
    </div>

    <div class="row">
      <p class="item">年龄: 而立</p>
      <p class="item">星座: 摩羯座</p>
    </div>

    <div class="row">
      <p class="item">身高: 178cm</p>
      <p class="item">出生地: 河南省信阳市</p>
    </div>

    <div class="row">
      <p class="item">毕业院校: shcj大学</p>
      <p class="item">专业: 会计</p>
    </div>

    <div class="row">
      <p class="item">职业: 程序员 码农</p>
      <p class="item">召唤师技能: 写作 唱歌</p>
    </div>

    <div class="row">
      <p>偶像: 这个多了,周杰伦,林俊杰,许嵩,韩寒,刘强东,罗永浩,罗振宇等</p>
    </div>

    <div class="row">
      <p>唯一玩的游戏: 撸啊撸(英雄联盟)</p>
    </div>

    <div class="row">
      <p>喜欢的事:</p>
      <ul class="favor">
        <li>看书</li>
        <li>听歌</li>
        <li>网易 轻松一刻(感觉网易的产品都很有品质)</li>
        <li>喜马拉雅FM app 段子来了(采采的节目不错)</li>
        <li>内涵段子 app (天王盖地虎,小鸡炖蘑菇)</li>
        <li>简书</li>
        <li>360个人图书馆 http://www.360doc.com/ </li>
      </ul>
    </div>

    <div class="row">
      <p>目前所在地: 上海</p>
    </div>

    <div class="row">
      <p>联系方式:</p>
      <div class="contact">
        邮箱: &nbsp;<span class="contact-value" style="margin-right: 10px;">
         <i class="fa fa-envelope-o"></i> fanjun1231@163.com &nbsp;&nbsp;349032805@qq.com</span> 微信: &nbsp;<span class="contact-value"><i class="fa fa-weixin"></i> fanjun1231</span>
      </div>
    </div>

  </div>

  <!-- 分割线 -->
  <div class="split-line">-------------------------------------------------优雅的分割线---------------------------------------------------</div>

  <div class="skill-content">
    <div class="row">
      <p class="item">开发: 6年</p>
      <p class="item">专业技能: Java 前端 全栈</p>
    </div>

    <div class="row">
      <p>编程语言:</p>
      <div class="skill-intro">熟悉Java, SpringBoot,Mybatis,MySQL,MongoDB,Angularjs,Vuejs,Nodejs,了解react.</div>
    </div>

    <div class="row">
      <p>开发环境: </p>
      <div class="skill-intro">Windows,Mac,Eclipse,Intellij,Visual Studio</div>
    </div>

    <div class="row">
      <p>其他资料: </p>
      <div class="skill-intro"><i class="fa fa-github"></i>  Github(<a href="https://github.com/349032805" target="_blank">https://github.com/349032805</a>)</div>
    </div>

  </div>

   <div class="music">
      <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="//music.163.com/outchain/player?type=2&id=421934070&auto=1&height=66"></iframe>
  </div> 

</div>